# Ignore all log files
*.log

# Ignore the temp directory
ram_sim_venv/
/ram_venv
/__pycache__
/__pycache__
/__pycache__
helpers/__pycache__
database.db
memory_manager_demo.sqlite
output.txt
output.txt
*.txt
